<ul class="thumbnails">
  <li class="span8">
    <a href="<%= "#{@links['website']}" %>" class="thumbnail">
      <img src="<%= "#{@links['avatar']}" %>" alt="">
    </a>
  </li>
</ul>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><a href="<%= "#{@links['fb_page']}" %>"><%= @links["name"] %></a></dd><br />

<% @item.keys.each do |key| %>
  <dt><%= key %></dt>
  <dd><%= @item[key] %></dd><br />
<% end %>
</dl>

